.container-fluid{
    background-image: url(../pictures/failure.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container-fluid p {
    margin: 0;
    font-size: 160%;
    color: red;
    font-style: oblique;
    font-weight: bold;
    background: #F1F1F1;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}