.box {
    width: 100%;
    display: inline-block;
}

.box h1 {
    font-family: Brush Script MT;
    font-style: italic;
    font-size: 220%;
    text-align: center;
    padding-top: 3%;
}

.box p{
    font-family: Brush Script MT;
    font-size: 150%;
    padding-top: 8%;
}

.box ul li{
    font-family: Brush Script MT;
    font-size: 150%;
}

.form-group {
    width: 60%;
    padding: 0% 0% 0% 0%;
}

.subform-group {
    width: 100%;
    padding: 2% 4% 4% 4%;
    border-radius: 25px;
    border: 2px solid #343a40;
}
.imgcontainer {
    width: 40%;
    float: left;
}

img.avatar {
    width: 100%;
    float: left;
    border-radius: 40%;
    padding: 5% 0% 0% 10%;
}

img.client{
    width: 70%;
    float: left;
    border-radius: 60%;
    padding: 5% 0% 0% 10%;
}

.generalInfo{
    width: 50%;
    text-align: justify;
    font-family: URW Chancery L, cursive;
    text-indent: 10%;
    display: inline-block;
}

.generalInfo h2 {
    font-family: Brush Script MT;
    font-style: italic;
    font-size: 220%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}

.leftDivHomePage{
    width: 30%;
    float: left;
}

.leftPhoto{
    width: 60%;
    float: left;
}

.hidden {
    visibility: hidden;
}
