body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color:#343a40;
}
.navbar
{
  overflow: hidden;
  background-color:#343a40;
}
/* Style the buttons inside the tab */
.tab button {
  background-color:#343a40;
  color:white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.jumbotron h1{
 text-align: center;
}

.jumbotron p{
  text-align: center;
 }

/* Style the buttons inside the nav */
.nav-item button {
  background-color:#343a40;
  color:white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.nav-item button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc
}

/* Style the buttons inside the jumbotron */
.jumbotron button{
  background-color:#343a40;
  color:white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
 }

 .jumbotron button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc
}

.nav-item button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc
}
/* Change background color of buttons on hover */
.tab button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc
}

/* Create an active/current tablink class */
.tab button.active {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#outer
{
  width:100%;
  text-align: center;
}
.inner
{
  display: inline-block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#343a40;
  color:white;
  text-align: center;
}

.footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.lead{
  text-align: center;
}