<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>bome</title>
    <link rel="icon" type="image/png" href="../static/pictures/logo_search.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/CSS/universal.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/CSS/pagina_principala.css">
    <link rel="stylesheet" href="../static/CSS/client&admin_style.css">
    <script src="../static/JavaScript/slide_show.js"></script>
    <script src="../static/JavaScript/utility_module.js"></script>
    <script src="../static/JavaScript/navbar_customizing.js"></script>

</head>

<body>
<div id='in_case_of_reloading'>
    <script>
        reload_page_on_back_button('in_case_of_reloading', "admin.html?id={{login_id}}")
    </script>

    <div class="tab outer">
        <button class="tablinks active" onclick="executeButton(event, 'General information')">General
            information
        </button>
        <button class="tablinks" onclick="executeButton(event, 'Show all clients')">Show all clients</button>
        <button class="tablinks" onclick="executeButton(event, 'Add money to bank\'s fortune')">Add money to bank's
            fortune
        </button>
        <button class="tablinks" onclick="executeButton(event, 'Block client account')">Block client
            account
        </button>
        <button class="tablinks" onclick="executeButton(event, 'Unblock client account')">Unblock client
            account
        </button>
        <button type="button" class="tablinks"
                onclick="window.location.href='home.html?id={{ login_id }}&mode=2';">Log out
        </button>
    </div>

    <div class="jumbotron">
        <h1 class="display-4" display="center">Thank you for making online banking easier!</h1>
        <hr class="my-4">
        <p class="lead">Manage your client requests.</p>
        <button class="tablinks" style="width:120px;margin:0 50%;position:relative;left:-50px;"
                onclick="executeButton(event,'Show all clients')">ShowClients
        </button>
    </div>


    <div id="General information" class="tabcontent" style="display: block;">
        <hr>
        <p>The fortune of the bank is: {{ money_ammount }}</p>
        <p>The bank has {{ nr_of_clients }} of clients</p>
    </div>

    <div id="Show all clients" class="tabcontent" style="display: none;">

        <h2>The clients of the bank are:</h2>
        <pre>{{ clients_in_string_format }}</pre>

    </div>

    <div id="Add money to bank's fortune" class="tabcontent" style="display: none;">

        <center>
            <form action="admin.html" method="post">
                <label class="hidden">
                    Post type:
                    <input type="text" name="login_id" value="{{ login_id }}" checked="checked">
                </label>
                <h1>Add money to bank's fortune.</h1>
                <div class="container">
                    <label>
                        <input type="number" min="0" placeholder="Enter a money amount" name="money" required="">
                    </label>

                    <button type="submit" class="button_style">Deposit</button>

                    <label class="hidden">
                        Post type:
                        <input type="radio" name="post-type" value="deposit-money" checked="checked">
                    </label>
                </div>

            </form>
        </center>
        <br>
    </div>

    <div id="Block client account" class="tabcontent" style="display: none;">
        <center>
            <form action="admin.html" method="post">
                <label class="hidden">
                    <input type="radio" name="login_id" value="{{ login_id }}" checked="checked">
                </label><br><br><br><br>
                <h1>Block client account.</h1>
                <div class="container">
                    <label>
                        <input type="number" min="0" placeholder="Enter the login id of the client you want to block"
                               name="client-login-id" required="">
                    </label>

                    <button type="submit" class="button_style">Block client</button>

                    <label class="hidden">
                        <input type="radio" name="post-type" value="block-client" checked="checked">
                    </label>
                </div>
            </form>
        </center>
        <br>
    </div>

    <div id="Unblock client account" class="tabcontent" style="display: none;">
        <center>
            <form action="admin.html" method="post">
                <label class="hidden">
                    <input type="radio" name="login_id" value="{{ login_id }}" checked="checked">
                </label><br><br><br><br>
                <h1>Unblock client account.</h1>
                <div class="container">
                    <label>
                        <input type="number" min="0" placeholder="Enter the login id of the client you want to unblock"
                               name="client-login-id" required="">
                    </label>

                    <button type="submit" class="button_style">Unblock client</button>

                    <label class="hidden">
                        <input type="radio" name="post-type" value="unblock-client" checked="checked">
                    </label>
                </div>
            </form>
        </center>
        <br>
    </div>

    <div class="footer">
        <p class="footer-company-name">BankOnMe © 2020</p>
    </div>
</div>

</body>

</html>