<html lang="en"><head>
    <meta charset="UTF-8">
    <title>ClientPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/CSS/pagina_principala.css">
    <link rel="stylesheet" href="../static/CSS/Sign_in_style.css">
    <script src="../static/JavaScript/slide_show.js"></script>
    <script src="../static/JavaScript/utility_module.js"></script>
    <script src="../static/JavaScript/navbar_customizing.js"></script>
</head>
<body>
<div id='in_case_of_reloading'>

    <script>
        reload_page_on_back_button('in_case_of_reloading', "client.html?id={{login_id}}")
    </script>

    <img class="nature" src="../static/pictures/bank_building.jpg" width="1837" height="400px" style="display: none;">
    <img class="nature" src="../static/pictures/business_men.jpg" width="1837" height="400px" style="display: block;">
    <img class="nature" src="../static/pictures/happyFaces.jpg" width="1837" height="400px" style="display: none;">
    <img class="nature" src="../static/pictures/canapea.jpg" width="1837" height="400px" style="display: none;">

    <div class="tab outer">

        <button class="tablinks active" onclick="executeButton(event, 'General information')">General information</button>
        <button class="tablinks" onclick="executeButton(event, 'Deposit money')">Deposit money</button>
        <button class="tablinks" onclick="executeButton(event, 'Withdraw money')">Withdraw money</button>
        <button class="tablinks" onclick="executeButton(event, 'Get credit')">Get credit</button>
        <button class="tablinks" onclick="executeButton(event, 'Pay debt')">Pay debt</button>
        <button type="button" onclick="window.location.href='home.html?id={{login_id}}&mode=1';">Log out</button>
    </div>

    <div id="General information" class="tabcontent" style="display: block;">
        <pre>{{message_for_general_information}}</pre>
    </div>

    <div id="Deposit money" class="tabcontent" style="display: none;">

        <h2>Deposit money</h2>

        <form action="client.html" method="post">
            <div class="imgcontainer">
                <img src="../static/pictures/roman_coins.jpeg" alt="Avatar" class="avatar">
            </div>
            <label class="hidden">
                Post type:
                <input type="text" name="login_id" value="{{login_id}}" checked="checked">
            </label>
            <div class="container">
                <label for="money"><b>Enter the amount of money you want to deposit</b></label>
                <label>
                    <input type="text" placeholder="Enter a money amount" name="money" required="">
                </label>

                <label class="hidden">
                    Post type:
                    <input type="radio" name="post-type" value="deposit" checked="checked">
                </label>

                <button type="submit" class="button_style">Submit</button>
            </div>

        </form>

    </div>

    <div id="Withdraw money" class="tabcontent" style="display: none;">
        <h2>Withdraw money</h2>

        <form action="client.html" method="post">
            <div class="imgcontainer">
                <img src="../static/pictures/withdraw.jpeg" alt="Avatar" class="avatar">
            </div>
            <label class="hidden">
                Post type:
                <input type="text" name="login_id" value="{{login_id}}" checked="checked">
            </label>
            <div class="container">
                <label for="money"><b>Enter the amount of money you want to withdraw</b></label>
                <label>
                    <input type="text" placeholder="Enter a money amount" name="money" required="">
                </label>

                <label class="hidden">
                    Post type:
                    <input type="radio" name="post-type" value="withdraw" checked="checked">
                </label>
                <button type="submit" class="button_style">Withdraw</button>
            </div>

        </form>
    </div>

    <div id="Get credit" class="tabcontent" style="display: none;">
        <h2>Get credit</h2>

        <form action="client.html" method="post">
            <div class="imgcontainer">
                <img src="../static/pictures/card.jpeg" alt="Avatar" class="avatar">
            </div>
            <label class="hidden">
                Post type:
                <input type="text" name="login_id" value="{{login_id}}" checked="checked">
            </label>
            <div class="container">
                <label for="money"><b>Enter the amount of money you want to get</b></label>
                <label>
                    <input type="text" placeholder="Enter Username" name="money" required="">
                </label>

                <label class="hidden">
                    Post type:
                    <input type="radio" name="post-type" value="get_credit" checked="checked">
                </label>
                <button type="submit" class="button_style">Get the money</button>
            </div>

        </form>

    </div>

    <div id="Pay debt" class="tabcontent" style="display: none;">
        <h2>Get credit</h2>

        <form action="client.html" method="post">
            <div class="imgcontainer">
                <img src="../static/pictures/pay_debt.jpeg" alt="Avatar" class="avatar">
            </div>
            <label class="hidden">
                Post type:
                <input type="text" name="login_id" value="{{login_id}}" checked="checked">
            </label>

            <div class="container">
                <label for="money"><b>Enter the amount of money you want to pay</b></label>
                <label>
                    <input type="text" placeholder="Enter the money amount" name="money" required="">
                </label>

                <label class="hidden">
                    Post type:
                    <input type="radio" name="post-type" value="pay_debt" checked="checked">
                </label>
                <button type="submit" class="button_style">Pay</button>
            </div>

        </form>
    </div>

    <script>
        w3.slideshow(".nature", 3500);
    </script>

</div>

</body></html>