<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>bome</title>
    <link rel="icon" type="image/png" href="../static/pictures/logo_search.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/CSS/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/CSS/pagina_principala.css">
    <link rel="stylesheet" href="../static/CSS/home_style.css">
</head>

<body class="jumbotron">
    <div class="content-section">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <center>
        <div class="form-group">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"><h1>Reset Password</h1></legend>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form></center>
        </div>
    </div>
</body>

</html>